#Python
*pyc
*~

__pycache__

#Env
.env
venv/
venv

#Database
db.sqlite3

#Static folder at project root
/static/

#macos
._*
.DS_Store
.fseventsd
.Spotlight-v100

#Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYLCE.BIN/

#Visual Studio
.vscode/
.history/
*.code-workspace
